@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* font-family: 'Poppins', sans-serif; */

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/sfondo.png);
    line-height: normal;
}

header {
     background-image:linear-gradient(1deg, #066A88, #4dd4fd);
    /* margin:20px;
    padding: 30px; */
    padding: 1.1em;
    margin:1em;
    width: 500px;
    height: 250px;
    box-shadow: 5px 5px 10px rgb(90, 90, 90);
    box-sizing: border-box;
}

main {
    width: 500px;
    height: 4000px;
    background-color: white;
    padding: 1.1em;
    margin:1em;
    box-shadow: 5px 5px 10px rgb(90, 90, 90);
    font-size: 1.5em;
    box-sizing: border-box;
}
main h2{
    font-size: 2.3em;
    font-weight: 600;
    margin-top: 20px;
}
.first-p{
    margin-top: 20px;
}
.first-p strong{
    color: red;
    font-weight: bold;
}
.second-p strong{
    color: red;
    font-weight: bold;
}
main iframe{
    background-size: cover;
    width: 100%;
    max-width: 500px;
    border-radius: 40px;
}
footer {
    width: 500px;
    height: 150px;
     background-image:linear-gradient(180deg, #005566, #000000);
    margin:20px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgb(90, 90, 90);
}
footer p,address, p>a{
    color: white;
    text-align: center;
    font-size: 1.1em;
}

footer address a {
    color: violet;
    font-size: 1.1em;
}

footer > p{
    padding: 25px;
}

header div  img {
    width: 200px;
}

.img{
    text-align: center;
}

header h1 {
    text-align: center;
    margin:20px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
}

nav ul{
    text-align: center;
    margin:10px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
}

.icon-post{
    display: inline;
    color: gray;
    padding: 10px;
    
}
.fas.fa-vote-yea{
    margin-top: 10px;
    color: gray;
}
.fas.fa-clock{
    margin-top: 10px;
    color: gray;
    
}
section ul{
    list-style-type: disc;
    margin-left: 20px;
}
section ul code {
    background-color: rgb(236, 234, 234);
    border: 2px solid gray;
    border-radius: 10px;
}
section ul li{
    margin: 20px;
}
section ol li{
counter-increment: numerazione;
}
section ol li::before {
    content: counter(numerazione);
    color:red;
    margin-right: 20px;
}
section tr:nth-child(2n+1) {
    background-color:rgb(233, 231, 231);
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}
section table th{
    background-color: #4dd4fd;
}
table,td,th{
    border:1px solid #ffffff;
	border-collapse:collapse;
    padding: 10px;
    text-align: center;
}
tr:last-of-type{
    border-bottom: 3px solid blue;
}
th:first-child{
    text-align: center; /* non funziona */
    color: white;
}